$margin-size: 1em;

.grid-two-columns {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.grid-three-columns {
  display: grid;
  grid-template-columns: repeat(3, calc(100% / 3));
}

.grid-four-columns {
  display: grid;
  grid-template-columns: repeat(4, 25%);
}

.margin-right {
  margin-right: $margin-size;
}

.margin-bottom {
  margin-bottom: $margin-size;
}

.margin-left {
  margin-left: $margin-size;
}

.margin-top {
  margin-top: $margin-size;
}
