.app-footer {
  @include shadow-up(false);
  color: $white;
  display: flex;
  height: 3em;

  &.winter {
    background: linear-gradient(to top right, $purple, $light-blue);
  }

  &.summer {
    background: linear-gradient(to top right, $pink, $orange);
  }

  .footer-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 1em;
    width: 100%;

    .themes {
      .theme-button {
        color: $white;
        text-decoration: none;
        margin-right: 1em;
      }
    }

    .social-medias {
      display: flex;
    }
  }

  .social-icon {
    color: $white;
    cursor: pointer;
    display: flex;
    fill: $white;
    margin-left: 1em
  }
}
