.header-logo {
  height: 60px;
}

.app-header {
  @include shadow-down(false);
  align-items: center;
  display: flex;
  height: 100px;
  justify-content: space-around;
  padding: 20px;

  &.winter {
    background: linear-gradient(to bottom right, $purple, $light-blue);

    .header-button {
      &:hover {
        span {
          color: $purple;
        }
      }
    }
  }

  &.summer {
    background: linear-gradient(to bottom right, $pink, $orange);

    .header-button {
      &:hover {
        span {
          color: $orange;
        }
      }
    }
  }

  .header-button {
    align-items: center;
    background: transparent;
    display: flex;
    height: 100%;
    justify-content: center;
    transition: background .2s;
    width: 6em;

    span {
      color: #fff;
      transition: color .2s;
    }

    &.selected {
      border: 2px solid $white;
    }

    &:hover {
      background: $white;
      transition: background .2s;
    }
  }

  .header-logo {
    animation: rotateY 2s infinite;
  }

  a {
    text-decoration: none;
  }
}
